<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amayadream.webchat.core.dao.IRelationDao">

    <select id="list" resultType="Relation" parameterType="Relation">
        SELECT a.user_id, a.friend, a.group_name, a.created_time, a.status, b.nick_name, b.avatar, b.sign FROM tab_relation a JOIN tab_user b ON a.friend = b.user_id
        <where>
            <if test="userId != null and userId != ''">
                a.user_id = #{userId, jdbcType=VARCHAR}
            </if>
            <if test="friend != null and friend != ''">
                AND a.friend = #{friend, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="Relation">
        INSERT INTO tab_relation (user_id, friend, group_name, created_time, status)
        VALUES (#{userId, jdbcType=VARCHAR}, #{friend, jdbcType=VARCHAR},
                #{groupName, jdbcType=VARCHAR}, #{createdTime, jdbcType=TIMESTAMP}, #{status, jdbcType=VARCHAR})
    </insert>

    <delete id="delete" parameterType="Relation">
        DELETE FROM tab_relation
        <where>
            <if test="userId != null and userId != ''">
                user_id = #{userId, jdbcType=VARCHAR}
            </if>
            <if test="friend != null and friend != ''">
                AND friend = #{friend, jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

</mapper>